
body {
    margin: 0;
    background-color: rgb(255,36,0);
    box-sizing: border-box;
}
.translate {
    margin-top: 0;
    background-color: rgb(36, 33, 33);
    width: 100%;
    font-size: 1.2500em;
    position: fixed;
    top: 0;
    text-align: center;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: rgb(226, 8, 19);
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

a:hover {
    color: rgb(238, 238, 238);
}

.intro {
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 0.6250em;
}

h1, h2, h3, h4 {
    text-align: center;
}

h2 {
    font-style: italic;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}

p {
    text-align: justify;
    text-justify: inter-word;
}